<%- partial('nav')%>
<%- partial('sitehead')%>

<main class="container" role="main">
  <div class="widget">
    <ul class="tag-box inline list-unstyled">
      <% var years = _.uniq(site.posts.sort('date', -1).map(p => p.date.year())) %>
      <% years.forEach(function (year) { %>
        <li>
          <a href="<%= config.root + config.archive_dir + "/" + year %>"><%= year %></a>
        </li>
      <% }); %>
    </ul>
  </div>

  <% var archives = site.posts.reduce((acc, p) => { %>
    <% var year = p.date.year() %>
    <% if (!acc[year]) acc[year] = [p]; else acc[year].push(p); %>
    <% return acc; %>
  <% }, {}) %>

  <% if (page.year) { %>
    <ul>
      <% archives[page.year].sort((a,b) => b.date - a.date).forEach(post => { %>
        <li class="listing-item">
          <p class="post-title">
            <small class="post-meta">
              <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time>
            </small>
            <a href="<%- config.root %><%- post.path %>"><%- post.title %></a>
          </p>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <% Object.keys(archives).sort((a,b) => b - a).forEach(year => { %>
      <p class="archive-ul" data-toggle="collapse" data-target="#<%= year %>">
        <%= year %>&nbsp;<b class="caret"></b>
      </p>
      <ul id="<%= year %>" class="in">
        <% archives[year].sort((a,b) => b.date - a.date).forEach(post => { %>
          <li class="listing-item">
            <p class="post-title">
              <small class="post-meta">
                <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time>
              </small>
              <a href="<%- config.root %><%- post.path %>"><%- post.title %></a>
            </p>
          </li>
        <% }) %>
      </ul>
    <% }) %>
  <% } %>
</main>
